.title {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.title span {
  color: #1ad48e;
}

.petDetailsContainer p {
  margin-bottom: 1em;
}

.petDetailsContainer p a {
  color: #1ad48e;
}

.petImages {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 1em;
  background-color: #f5f5f7;
}

.petImages img {
  max-height: 200px;
  margin: 1em;
}

.buttonVisit {
  border: none;
  padding: 0.5em 1.5em;
  font-size: 1em;
  background-color: #1ad48e;
  color: #fff;
  border-radius: 5px;
  margin-top: .5em;
  cursor: pointer;
}

.buttonVisit:hover {
  background-color: #18c985;
}