.message {
  width: 1200px;
  margin: 15px auto 0 auto;
  padding: 0.3em 0.5em;
  border-radius: 5px;
}

.success {
  background-color: #1ad48e;
  color: #fff;
}

.error {
  background-color: #f35b5b;
  color: #fff;
}